<div id="about" class="main-container">
    <div class="content">
        <div class="history">
            <h3>Quem Somos</h3>
            <p>
                A <strong>EMCALE</strong> é uma empresa de instalações de redes de fibra óptica<br />
                situada na cidade de Sumaré-SP. Possuindo estrutura própria e uma<br />
                equipe altamente especializada para realizar suporte, lançamento, manutenção<br />
                ou instalação de redes ópticas urbanas, metropolitanas ou de longa distância<br />
                em qualquer lugar do país, estamos sempre à disposição para contribuir de<br />
                forma positiva para sua empresa, com serviços realizados de acordo com as normas<br />
                de qualidade que prezamos dentro da nossa organização.
            </p>
            <span>Com mais de {{ count() }} anos no mercado</span>
        </div>

        <div class="local">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.141228519844!2d-47.267591423942136!3d-22.834263879306192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8bda8102f9881%3A0xa87f820d24aa1a8b!2sEmcale%20Servi%C3%A7os%20Em%20Fibra%20%C3%93ptica!5e0!3m2!1spt-BR!2sbr!4v1741206339209!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>


    <div class="adress">
        <div class="card-services">
          <p>Contatos:</p>
            <div class="card" *ngFor="let service of adress; let i = index">
              <a data-aos="zoom-in" [attr.data-aos-delay]="i * 200" class="card1" href="#">
                <p>{{ service }}</p>
                <div class="go-corner" href="#">
                  <div class="go-arrow">→</div>
                </div>
              </a>

              


            </div>
            <app-animated-button></app-animated-button>
          </div>
    </div>


</div>
